.aboutContent {
    text-align: left;
    color:white;
    padding: 30px;
    margin: auto;
}

.aboutPic {
    padding: 30px;
}

/* @media screen and (max-width: 600px) {
    .background {
        display: none;
        background-color: #293a68;
    }
} */