.type {
    color: white;
    padding-top: 25px;
    font-size: 75px;
}

.Home h2 {
    color: white;
    text-align: left;
    margin-left: 20px;
    padding-top: 25px;
    font-size: 75px;
}

.Home p {
    color: white;
    text-align: left;
    margin-left: 50px;
    padding: 20px;
    padding-top: 50px;
    font-size: 25px;
}

